COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
configure
buildaux/config.sub
buildaux/missing
buildaux/install-sh
buildaux/depcomp
Makefile
buildaux/config.guess
.deps
*.libs
*.o
*.la
*.lo
*.loT
config.log
config.status
src/netpgp/netpgp
src/netpgpkeys/netpgpkeys
src/netpgpverify/netpgpverify
